{% extends "base_generic.html" %}

{% block content %}
<div id="" style="overflow:scroll; height:600px;">
    <h1>Patient List</h1>
    {% if perms.patients.can_view_records %}
    {% if profile_list %}
    <ul>

      {% for profile in profile_list %}
      <li>
        <a href="{{ profile.get_absolute_url }}">{{ profile.first_name }} {{ profile.last_name }} ({{profile.date_of_birth}})</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no patients in the clinic.</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
